body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    color: #333;
}

.time, .veta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    padding: 20px;
}

h2, h3 {
    margin-bottom: 20px;
}

#quote {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 80%;
    margin: 0 auto;
}

@media (max-width: 600px) {
    body {
        font-size: 18px;
    }

    #quote {
        padding: 10px;
        max-width: 100%;
    }

    .time, .veta {
        width: 250px;
    }
}