body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 10vh;
}

.container {
    max-width: 90%;
    text-align: center;
}

.box {
    width: 50vh;
    height: 50vh;
    max-width: 80vh;
    max-height: 80vh;
    background-color: #3498db;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s ease-in-out;
    border-radius: 5vh;
}

.box:hover {
    transform: rotate(45deg);
}