body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    margin: 20px;
    padding: 20px;
    border-radius: 18px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    width: fit-content;
}

#loadData {
    background-color: #0074b9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 18px;
    transition: background-color 0.3s ease;
}

#loadData.clicked {
    background-color: #008000;
}

#loadData:hover {
    background-color: #006400;
}

#loadData.clicked:hover {
    background-color: #0074b9;
}

#data {
    margin-top: 20px;
    color: #333;
}